# ==========================
# Core AI
# ==========================
langchain
langchain-community
langchain-core
langchain-text-splitters

# ==========================
# Google Gemini
# ==========================
langchain-google-genai
google-genai

# ==========================
# Embedding
# ==========================
sentence-transformers

# ==========================
# Vector Database
# ==========================
faiss-cpu

# ==========================
# PDF
# ==========================
pypdf

# ==========================
# UI
# ==========================
streamlit

# ==========================
# Utilities
# ==========================
numpy
python-dotenv